/* Example CSS for Navbar component */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: rgb(198, 17, 122);
  color: white;
   
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  
}
#logo{
  color: #ffffff;
}
.pages{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  
}

#homeicon{
  color: #ffffff;
}
#profileicon{
  color: #ffffff;
}


.navbar-menu {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 65px; /* Adjust based on your design */
  right: 0px; /* Adjust based on your design */
  background-color:  rgb(198, 17, 122);
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(97, 94, 94, 0.2);
  z-index: 100;
}

.navbar-menu.open {
  display: flex;
}

.navbar-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar-menu li {
  margin-bottom: 0.5rem;
}

.navbar-menu a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
}

.navbar-toggle {
  display: flex;
  border: none;
  padding: 4px;
  border-radius: 10px;
  background: none;
  cursor: pointer;
  color: #ffffff;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  background-color: rgb(237, 227, 227);
  margin: 6px 0;
}

@media (max-width: 768px) {

  .navbar-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 65px; /* Adjust based on your design */
    right: 0px; /* Adjust based on your design */
    background-color:  rgba(198, 17, 122, 0.6);
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(97, 94, 94, 0.2);
    z-index: 100;
  }
  
  .navbar-menu.open {
    display: flex;
  }
  
  .navbar-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .navbar-menu li {
    margin-bottom: 0.5rem;
  }
  
  .navbar-menu a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
  }
  
  .navbar-toggle {
    display: block;
    cursor: pointer;
    color: ffffff;
  }
  
  .bar {
    display: block;
    width: 25px;
    height: 3px;
    background-color: rgb(237, 227, 227);
    margin: 6px 0;
  }
}
