::-webkit-scrollbar{
    display: none;
}
.header{
    position: sticky;
    top: 0;
}

.courses{
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: scroll;
}

@media (max-width: 768px){
    .header{
        position: sticky;
        top: 0;
    }
}
